<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title> Dr. Richard Eisenberg </title>
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    
    <link href="css/YTPlayer.css" media="all" rel="stylesheet" type="text/css">
    
    <link href="css/style.css" rel="stylesheet" type="text/css" />

     <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header" id="logo">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-home"></span>
        </button>
        <a class="navbar-brand hidden-xs hidden-sm smoothScroll" href="#home">Dr. Richard R Eisenberg</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <!-- <li><a href="#home" class="smoothScroll">Home</a></li> -->
          <li> <a href="#about" class="smoothScroll"> About</a></li>
          <li> <a href="#services" class="smoothScroll"> Services </a></li>
          <li> <a href="#forms" class="smoothScroll"> Forms </a></li>
          <li> <a href="#location" class="smoothScroll"> Location</a></li>
          <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
      </div>
    </div>
  </div>

    <div id="headerwrap" id="home" name="home">
    <header class="clearfix">
      <div class="col-lg-5" id="intro">
          <h2>Dermatology ~ Dermatological Surgery in<br>Watchung, NJ</h2>
        </div>
      </header>     
    </div>

  <!-- ==== GREYWRAP ==== -->
  <div id="greywrap">
    <div class="row">
      <div class="col-lg-6 callout">
        <i class="fa fa-plus-square fa-4x"></i>
        <h2>Registration and Insurance</h2>
        <p>Dot Theme is powered by Bootstrap 3. The incredible Mobile First Framework is the best option to run your website. </p>
      </div><!-- col-lg-4 -->
        
      <div class="col-lg-6 callout">
        <i class="fa fa-clipboard fa-4x"></i>
        <h2>Medical Questionnaire</h2>
        <p>You can use this theme with your iPhone, iPad or MacBook Pro. This theme is retina ready and that is awesome. </p>
      </div><!-- col-lg-4 --> 
      
    </div><!-- row -->
  </div><!-- greywrap -->


  <!-- ==== ABOUT ==== -->
  <div class="container" id="about" name="about">
    <div class="row white">
    <br>
      <h1 class="centered">About Dr. Eisenberg</h1>
      <hr>
      
      <div class="col-lg-6">
        <p>We believe ideas come from everyone, everywhere. In fact, at DOT, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design. We’re big believers in doing right by our neighbors. After all, we grew up in the Twin Cities and we believe this place has much to offer. So we do what we can to support the community we love.</p>
      </div><!-- col-lg-6 -->
      
      <div class="col-lg-6">
        <p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s earnings back to the community each year.</p>
      </div><!-- col-lg-6 -->
    </div><!-- row -->
  </div><!-- container -->

  <!-- ==== SERVICES ==== -->
  <div class="container" id="services" name="services">
  <br>
    <div class="row white">
      <h1 class="centered">Services</h1>
      <hr>
      <br>
      <br>
      <div class="col-lg-3">
        <!-- START SERVICE 1 -->
                  <div class="service-active">
                      <span class="service-trigger icon icon-link"><p>Skin Cancer</p></span>
                      <div class="service-content">
                          <p>We start by digging into the client’s brand and business situation to build a bridge between the brand and the audience. By looking at the world through the eyes of our audience, we open ourselves up to new inspiration and opportunities for problem solving.</p>
                      </div><!-- service-content -->
                  </div><!-- service-active -->
                  <!-- END SERVICE 1 -->        
      </div><!-- col-lg-4 -->

      <div class="col-lg-3">
        <!-- START SERVICE 2 -->
                  <div class="service-active">
                      <span class="service-trigger icon icon-pencil"><p>Acne</p></span>
                      <div class="service-content">
                          <p>We start by digging into the client’s brand and business situation to build a bridge between the brand and the audience. By looking at the world through the eyes of our audience, we open ourselves up to new inspiration and opportunities for problem solving.</p>
                      </div><!-- service-content -->
                  </div><!-- service-active -->
                  <!-- END SERVICE 2 -->        
      </div><!-- col-lg-4 -->
      
      <div class="col-lg-3">
        <!-- START SERVICE 3 -->
                  <div class="service-active">
                      <span class="service-trigger icon icon-rocket"><p>Skin Conditions</p></span>
                      <div class="service-content">
                          <p>We start by digging into the client’s brand and business situation to build a bridge between the brand and the audience. By looking at the world through the eyes of our audience, we open ourselves up to new inspiration and opportunities for problem solving.</p>
                      </div><!-- service-content -->
                  </div><!-- service-active -->
                  <!-- END SERVICE 3 -->        
      </div><!-- col-lg-4 -->

      <div class="col-lg-3">
        <!-- START SERVICE 3 -->
                  <div class="service-active">
                      <span class="service-trigger icon icon-rocket"><p>Support</p></span>
                      <div class="service-content">
                          <p>We start by digging into the client’s brand and business situation to build a bridge between the brand and the audience. By looking at the world through the eyes of our audience, we open ourselves up to new inspiration and opportunities for problem solving.</p>
                      </div><!-- service-content -->
                  </div><!-- service-active -->
                  <!-- END SERVICE 4 -->        
      </div><!-- col-lg-4 -->

    </div><!-- row -->
    <br>
    <br>
    <div class="row" name="forms">
      <h2 class="centered">ONE BRAND, ONE VOICE.</h2>
      <hr>
      <br>
      <div class="col-lg-offset-2 col-lg-8">
        <p>Employees and consumers. Two halves of a brand’s entirety, the whole of a brand’s audience. Sometimes these two halves have very different viewpoints, creating a weak spot in the brand story. Weakness tarnishes credibility. Brands that aren’t credible aren’t viable.
        </p>
        <p>We squash weakness by designing the whole brand story. It’s crafted around the truism held by employees and consumers to create an experience that connects from the inside out.</p>
        <p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
      </div><!-- col-lg -->
    </div><!-- row -->
  </div>


    
  <!-- ==== SECTION DIVIDER6 ==== -->
  <section class="section-divider textdivider divider6" id="location">
    <div class="container">
      <br>
      <br>
      <p>Office Location</p>
      <hr>
      <p>40 Stirling Rd, Watchung, NJ 07069</p>
      <p>(908) 753-4144</p>
      <!-- <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p> -->
    </div><!-- container -->
  </section><!-- section -->

  <div class="container" id="contact" name="contact">
    <div class="row">
    <br>
    <br>
      <h1 class="centered">Please Call to Schedule an Appointment</h1>
      <hr>
      <div class="centered">
        <div class="col-lg-12">
          <p>
            40 Stirling Road Suite 203<br/>
            Watchung, NJ 07069</a> <br/>
            <span class="icon icon-phone"></span> 908 753 4144 <br/>
            <strong>Fax</strong> 908 753 3743 <br/>
            
          </p>
        </div><!-- col -->
      </div>
      



    </div><!-- row -->

  </div><!-- container -->

  </div>
</body>
</html>
